.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}

@keyframes spinIcon {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: spinIcon 1.5s linear infinite;
}
