.user-components {
  justify-content: space-between;
}

.user-components,
.user-components__column:first-child {
  display: flex;
  align-items: center;
}

.user-componenets__avatar {
  width: 60px;
  height: 60px;
  border-radius: 24px;
  margin-right: 13px;
}

.user-components__name {
  font-weight: 600;
  font-size: 20px;
}

.user-components__subtitle {
  margin-top: 5px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.user-componenets__avatar--lg {
  width: 70px;
  height: 70px;
  border-radius: 28px;
}

.user-componenets__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-components__name--notBold {
  font-weight: 400;
}

.user-components__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-components__time {
  display: block;
  margin-bottom: 10px;
}
